/* @import 'modern-normalize/modern-normalize.css'; */

* {
	box-sizing: border-box;

	/* Альтернативні шрифти: Comic Sans, Balsamiq Sans, Itim, Shantell Sans, Literata */
	font-family: "Shantell Sans", cursive;

	color: var(--color-black);
	/* color: #212121; */
	background-color: var(--color-white);
}
/* THEMES */
:root {
	--color-black: #212121; /* font */
	--color-header: white; /* header-background */
	--color-white: #ffffff; /* button, background */
	--color-purple: #78009d; /* hide-arrow-button */
	--color-accent: #27a8e4; /* selected buttons */
	--color-accent-header: #27a8e4; /* selected text on header */
	--color-bar: #FFEC9E; /* reiting-page bars */
	--color-border: #212121; /* color of borders */
}
.default {
	--color-black: #212121; /* font */
	--color-header: white; /* header-background */
	--color-white: #ffffff; /* button, background */
	--color-purple: #78009d; /* hide-arrow-button */
	--color-accent: #27a8e4; /* selected buttons */
	--color-accent-header: #27a8e4; /* selected text on header */
	--color-bar: #FFEC9E; /* reiting-page bars */
	--color-border: #212121; /* color of borders */
}
.light {
	--color-black: #212121; /* font */
	--color-header: #ffecde; /* header-background */
	--color-white: #e2edf7; /* button, background */
	--color-purple: #78009d; /* hide-arrow-button */
	--color-accent: #27a8e4; /* selected buttons */
	--color-accent-header: #27a8e4; /* selected text on header */
	--color-bar: #FFEC9E; /* reiting-page bars */
	--color-border: #212121; /* color of borders */
}

.darkk {
/*	background-color: lightgrey;*/
	--color-black: lightgrey; /* font */
	--color-header: #d06524; /* header-background */
	--color-white: #161d29; /* button, background */
	--color-purple: #27a8e4;  /* hide-arrow-button */
	--color-accent: #27a8e4; /* selected buttons */
	--color-accent-header: yellow; /* selected text on header */
	--color-bar: #ffffff; /* reiting-page bars */
	--color-border: #817a7a; /* color of borders a little bit more light than color-black*/
}

body {
	margin: 0;
	/* padding: 4rem 2rem 2rem 2rem;	moved to main sytles */
}

main {
	padding: 4rem 2rem 2rem 2rem;
}

p {
	font-weight: 400;
}

a {
	text-decoration: none;
}

/* a:hover {
	background-image: linear-gradient(120deg, #78009d 34%, #0087bc 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
} */

/* просто посилання і посиллання кнопка мусять мати різне оформлення ? */

button{
	background-color: var(--color-white);
	color: var(--color-black);
	text-align: center;
	border: 2px solid var(--color-border);
	border-radius: 8px;
	cursor: pointer;
	padding: 2px 8px;
}

button:hover,
.button-is-clicked {
	background-color: var(--color-accent);
	color: white;
	border: 2px solid var(--color-accent);
	cursor: pointer;
}

select {
	background-color: var(--color-white);
	border: 2px solid var(--color-border);
	border-radius: 8px;
	cursor: pointer;
	padding: 2px 8px;
	outline: none;
}

select:hover {
	background-color: var(--color-accent);
	color: white;
	border: 2px solid var(--color-accent);
	cursor: pointer;
}

select>option {
	background-color: var(--color-white);
	color: var(--color-black);
}